* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: darksalmon;
}

img {
    max-width: 450px;
}

h1, h2 {
    margin-bottom: 16px;
}

a img {
    max-width: 200px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: darkred;
    color: #fff;
    height: 60px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    background-color: #fff;
    min-height: 400px;
    padding: 30px 0;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header p {
    line-height: 1.5;
    font-weight: 400;
    font-size: 24px;
}

.header ul {
    margin-top: 13px;
}

.header li {
    margin: 10px 0;
    font-size: 18px;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex:1;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 10px;
    padding: 15px 24px;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

.layout-status {
    display: flex;
    justify-content: center;
}
/* HOME */
/* __________Chicken Veg________________________ */
.chickenveg .header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    text-align: center;
}

.chickenveg .recipe-boxes .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}

.recipe-boxes ul {
    list-style: none;
}

.recipe-boxes .container .box {
    flex: 1;
    text-align: center;
    background-color: #fff;
    padding: 15px 50px;
    border-radius: 12px;
}

a:link,
a:visited,
a:hover{
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

/* ___________MacCheese_______________________ */

@media(max-width: 800px){
    .navbar{
        height: auto;
        text-align: center;
        padding: 20px 0;
    }
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}











