* {
    font-family: 'Courier New', Courier, monospace;
    /* border: 2px solid red; */
}

/* All Pages */

.image {
    border-radius: 12px;
}

.recipe .description {
    font-size: 21px;
}

.list li {
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

body {
    margin-left: 4em;
    margin-right: 4em;
}

/* Home Page */

.home {
    text-align: center;
    width: 80%;
    border: 2px solid rgb(30, 57, 210);
    background-color: rgb(94, 223, 255);
    border-radius: 12px;
    color: rgb(6, 19, 134);
    margin: 44px auto;

}

.home .list {
    display: inline-block;
    margin-left: 2rem;
}

.home .link {
    display: inline-flex;
    
}
.link .image img{
    width: 200px;
    height: 200px;
    margin: 15px;
    border: 2px solid blue;
    border-radius: 12px;
}

/* Chicken Veg Recipe */

.chickenveg  {
    text-align: center;
}


/* Mac Cheese */

.maccheese {
    text-align: center;
}

/* Lemonade */

.lemonade {
    text-align: center;
}


